.fabric/
.mixin.out/
crash-reports/
logs/
natives/
not-enough-crashes/
patchouli_books/
resourcepacks/
saves/
screenshots/
schematics/
XaeroWaypoints/
XaeroWaypoints_BACKUP062020/
XaeroWorldMap/
servers.dat
servers.dat_old
userchache.json
realms_persistence.json
